<div class="container mt-15">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="box-channel">
        <h4>Các channel của bạn</h4>
        <% if @channels.present? %>
          <ul>
            <% @channels.each do |channel| %>
              <%= link_to channel do %>
                <li>
                  <div class="avatar-main-channel">
                    <% if channel.avatar_url %>
                      <img src="<%= channel.avatar %>" >
                    <% else %>
                      <%= image_tag("avatar_user_default.jpg") %>
                    <% end %>
                  </div> 
                  &nbsp; <p class="my-channel"><%= channel.name %></p>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <p> Bạn chưa tạo channel nào </p>
        <% end %>

        <%= link_to "<button class= 'btn btn-primary'>Tạo kênh</button>".html_safe, new_channel_path %>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6">
      <div class="box-channel">
        <h4>Các channel bạn tham gia</h4>
        <% if @sub_channels.present? %>
          <ul>
            <% @sub_channels.each do |channel| %>
              <%= link_to channel do %>
                <li>
                  <div class="avatar-main-channel">
                    <% if channel.avatar_url %>
                      <img src="<%= channel.avatar %>" >
                    <% else %>
                      <%= image_tag("avatar_user_default.jpg") %>
                    <% end %>
                  </div> 
                  &nbsp; <p class="my-channel"><%= channel.name %></p>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <p> Bạn chưa tham gia channel nào </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
