<%= form_for(current_user, url: change_password_users_path, method: :patch, remote: true) do |f| %>
  <div id="error_messages_password" class="alert alert-danger">
    <%= render "shared/error_messages", resource: current_user %>
  </div>

  <div id="message" class="alert-success-custom"></div>
  <div id="message-password-blank" class="alert-danger-custom"></div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  </br >
  <div class="row">
    <div class="col d-flex justify-content-end">
      <div class="button-create">
        <%= f.submit "cập nhật", class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
<% end %>
