<%= form_for(post, url: url, method: method) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>  

  <div class="form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content , class: "rich_text_area" %>
  </div>

  <div class="form-group">
    <%= form.label :category %> 
    <%= form.select(:category_id, options_for_select(Category.generate_options), {}, class: "form-control") %>
  </div>

  <div class="form-group"> 
    <%= form.label :image %>
    <%= form.file_field :image, id: "inputImagePost", class: "form-control" %>

    <div class="image-post">
      <img id="imagePost">
    </div>
  </div>
  

  <div class="button-create">
    <% if post.persisted? %>
      <%= form.submit t(".edit_post"), class: "btn btn-outline-primary" %>
    <% else %>
      <%= form.submit t(".create_post"), class: "btn btn-outline-primary" %>
    <% end %>
  </div>
<% end %>
