<%= form_for(post, url: url, method: method) do |form| %>
  <div id="error_messages_post" class="alert alert-danger">
    <%= render "shared/error_messages", resource: post %>
  </div>

  <div class="row">
    <div class="form-group col-md-12 col-lg-6">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group col-md-12 col-lg-6">
      <%= form.label :author %>
      <%= form.select(
        :channel_id,
        options_for_select(([[current_user.name, nil]] + current_user.generate_options_channel), post.channel_id),
        {},
        class: "form-control",
        disabled: post.persisted?)
      %>
    </div>
  </div>  

  <div class="form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content , class: "rich_text_area" %>
  </div>

  <div class="form-group">
    <%= form.label :category %> 
    <%= form.select(:category_id, options_for_select(Category.generate_options, post.category_id), {}, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tags, value: @post.tag_post.join(", "), class: "form-control" %>
  </div>

  <div class="form-group"> 
    <%= form.label :image %>
    <%= form.file_field :image, id: "inputImagePost", class: "form-control" %>

    <div class="image-post">
      <img id="imagePost" src="<%= post.image_url %>">
    </div>
  </div>
  
  <div class="button-create">
    <% if post.persisted? %>
      <%= form.submit t(".edit_post"), class: "btn btn-outline-primary" %>
    <% else %>
      <%= form.submit t(".create_post"), class: "btn btn-outline-primary" %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
$('#inputImagePost').change(function(){
  const file = this.files[0];
  if (file){
    let reader = new FileReader();
    reader.onload = function(event){
      console.log(event.target.result);
      $('#imagePost').attr('src', event.target.result);
    }
    reader.readAsDataURL(file);
  }
});
</script>
