<div class="container">
  <%= form_for(@post, url: posts_path) do |form| %>
    <div>
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>  

    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content ,class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :category %> 
      <%= form.select(:category_id, options_for_select(Category.generate_options)) %>
    </div>

    </br >

    <div class="button-create">
      <%= form.submit "Create Post", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>
