<div class="container">
  <div class="body-post">
    <div class="post-header">
      <div class="category"><p><i><%= @post.created_at.in_time_zone(7).strftime(Settings.date.format) %></i></p></div>

      <div class="dropdown">
        <a href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <p class="hellip">&hellip;</p>
        </a>
        <ul class="dropdown-menu custom-inset" aria-labelledby="dropdownMenuLink">
          <% if current_user && current_user.id == @post.user_id %>
            <li>
              <%= link_to "Chỉnh sửa", edit_post_path(@post), class: 'dropdown-item' %>
            </li>
          <% else %>
            <li><a class="dropdown-item">Báo cáo</a></li>
          <% end %>
          <li><a class="dropdown-item">Chia sẻ</a></li>
        </ul>
      </div>
    </div>

    <h1>
      <%= @post.title %>
    </h1>

    <div class="author-post">
      <div class="left">
        <!-- handle user_path -->
        <%= link_to "<div class='avatar-post'>
          #{@post.channel_id ? avatar_of(@post.channel) : avatar_of(@post.user)}
          </div>".html_safe,
          @post.channel_id ? @post.channel : root_path
        %>
      </div>

      <div class="mid">
        <p><%= @post.channel_id ? @post.channel.name : @post.user.name %> | 1.k followers</p>
        <button class="btn btn-success" title="huỷ theo dõi"><i class="fas fa-check"></i> Đang theo dõi</button>
      </div>
    </div>

    <div class="clear-both">
    </div>

    <div class="content-post">
      <%= @post.content %>
    </div>

    <div class="comment-post">
      <h5>Bình luận</h5>

      <div class="form-comment-post">
        <div class="form-group">
          <div class="comment-author">
            <div class="wrapper-img-post">
               <img src='https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg' />
            </div>
            <p class="author-name">Tran Quang Huy</p>
          </div>

          <div class="input-comment">
            <textarea class="form-control" rows=2></textarea>
            <button class="btn btn-primary">Gửi bình luận</button>
          </div>
        </div>
      </div>

      <hr />

      <div class="content-comment-post">
        <div class="form-comment-post">
          <div class="comment-author">
            <div class="wrapper-img-post">
               <img src='https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg' />
            </div>
            <p class="author-name">Tran Quang Huy</p>
          </div>

          <p>cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong </p>

          <div class="footer-comment">
            <a> 125 <i class="far fa-thumbs-up"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a class="reply"> Trả lời </a>
          </div>

          <div class="input-comment-1">
            <textarea class="form-control" rows=2></textarea>
            <button class="btn btn-primary">Gửi rả lời</button>
          </div>

          <div class="reply-comment">
            <div class="form-comment-post">
              <div class="comment-author">
                <div class="wrapper-img-post">
                   <img src='https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg' />
                </div>
                <p class="author-name">Tran Quang Huy</p>
              </div>

              <p>cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong </p>

              <div class="footer-comment">
                <a> 125 <i class="far fa-thumbs-up"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a> Trả lời </a>
              </div>
            </div>

            <div class="form-comment-post">
              <div class="comment-author">
                <div class="wrapper-img-post">
                   <img src='https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg' />
                </div>
                <p class="author-name">Tran Quang Huy</p>
              </div>

              <p>cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong </p>

              <div class="footer-comment">
                <a> 125 <i class="far fa-thumbs-up"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a> Trả lời </a>
              </div>
            </div>
          </div>

          <hr />
        </div>

        <div class="form-comment-post">
          <div class="comment-author">
            <div class="wrapper-img-post">
               <img src='https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg' />
            </div>
            <p class="author-name">Tran Quang Huy</p>
          </div>

          <p>cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong </p>

          <div class="footer-comment">
            <a> 125 <i class="far fa-thumbs-up"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a> Trả lời </a>
          </div>

          <hr />
        </div>

        <div class="form-comment-post">
          <div class="comment-author">
            <div class="wrapper-img-post">
               <img src='https://sohanews.sohacdn.com/thumb_w/660/2017/1291610710209554594881299982616623413613868o-1506468168931.jpg' />
            </div>
            <p class="author-name">Tran Quang Huy</p>
          </div>

          <p>cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong cái này đúng nhe. ông này cung không phải tay mơ. thậm chí đội hình của malay cũng nặng ký. Nhưng cơ bản VN đang cis 1 lứa quá hay cùng hlv phù hợp nên Malay nhận thất bại. cái này y như chu du và gia cac luong </p>

          <div class="footer-comment">
            <a> 125 <i class="far fa-thumbs-up"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a> Trả lời </a>
          </div>

          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
