<div class="container">
  <div class="body-post">
    <div class="post-header">
      <div class="category"><p><i><%= @post.created_at.in_time_zone(7).strftime(Settings.date.format) %></i></p></div>

      <div class="dropdown">
        <a href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-ellipsis-h color-bl"></i>
        </a>
        <ul class="dropdown-menu custom-inset" aria-labelledby="dropdownMenuLink">
          <% if current_user && current_user.id == @post.user_id %>
            <li>
              <%= link_to "Chỉnh sửa", edit_post_path(@post), class: 'dropdown-item' %>
            </li>
          <% else %>
            <li><a class="dropdown-item">Báo cáo</a></li>
          <% end %>
          <li><a class="dropdown-item">Chia sẻ</a></li>
        </ul>
      </div>
    </div>

    <h1>
      <%= @post.title %>
    </h1>

    <div class="author-post">
      <div class="left">
        <!-- handle user_path -->
        <%= link_to "<div class='avatar-post'>
          #{@post.channel_id ? avatar_of(@post.channel) : avatar_of(@post.user)}
          </div>".html_safe,
          @post.channel_id ? @post.channel : root_path
        %>
      </div>

      <div class="mid">
        <p><%= @post.channel_id ? @post.channel.name : @post.user.name %> | 1.k followers</p>
        <button class="btn btn-success" title="huỷ theo dõi"><i class="fas fa-check"></i> Đang theo dõi</button>
      </div>
    </div>

    <div class="clear-both">
    </div>

    <div class="content-post">
      <%= @post.content %>
    </div>
    <% if @post.tags.present?%>
      <div class="tags mt-20">
        <i class="fas fa-tags"></i>
          <% @post.tags.map do |tag| %>
            <%= link_to tag_path(tag) do %>
              <span class="tag-item"><%= tag.name %></span>
            <% end %>
          <% end %>
      </div>
    <% end %>

    <div class="comment-post">
      <h5>Bình luận</h5>

      <% if current_user %>
        <div class="form-comment-post">
          <div class="form-group">
            <div class="comment-author">
              <div class="wrapper-img-post">
                <%= avatar_of current_user %>
              </div>
              <p class="author-name"><%= current_user.name %></p>
            </div>

            <div class="input-comment">
              <%= render "comments/form_comment", post: @post %>
            </div>
          </div>
        </div>
      <% end %>

      <hr />

      <div class="content-comment-post">
        <%= render @comments %>
      </div>
    </div>
  </div>
</div>
