<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Uytinvl", root_path, class: "navbar-brand" %> 
    <div class="navbar-right">
      <% if user_signed_in? %>
        <div class="custom-nav">
          <div class="dropdown navbar-right-item">
            <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="notification">
                <%= current_user_count_noti %>
                <div class="bell">
                  <span class="fas fa-bell fa-lg"></span>
                </div>
              </div>
            </a>

            <ul class="dropdown-menu dropdown-menu-end ul-notification arrow_box_notification" aria-labelledby="navbarDropdown">
              <div class="mt-15">
                <li class="confirm-notification">
                  <h4 class="ml-15">Thông báo mới</h4>
                  <a class="mr-15">Xem tất cả</a>
                </li>
              </div>
              <li><hr class="dropdown-divider"></li>
              <%= render "notifications/index", notifications: current_user.list_notification %>
            </ul>
          </div>

          <div class="dropdown navbar-right-item">
            <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="item-account">
                <% if current_user.avatar_url %>
                  <img src="<%= current_user.avatar.url %>" />
                <% else %>
                  <%= image_tag("avatar_default.jpg") %>
                <% end %>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li class="user-profile"><p class="dropdown-item-custom font-bold"><%= "@" + current_user.name.truncate(20) %></p></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to t(".create_post"), new_post_path, class: "dropdown-item" %></li>
              <li><%= link_to t(".information"), edit_users_path, class: "dropdown-item" %></li>
              <li><a class="dropdown-item" href="#"><%= t(".help") %></a></li>
              <% if current_user && current_user.admin? %>
              <%= link_to t(".manage"), admin_root_path,class:"dropdown-item" %>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to t(".logout"), destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <a data-bs-toggle="modal" class="session" data-bs-target="#modal-signin" data-bs-whatever="@getbootstrap"><%= t(".login") %></a> /
        <a data-bs-toggle="modal" class="session" data-bs-target="#modal-signup" data-bs-whatever="@getbootstrap"><%= t(".register") %></a>
      <% end %>
    </div>
  </div>
</nav>
