<div class="modal fade" id="modal-signup" tabindex="-1" aria-labelledby="modalsignupLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="error-message-signup"></div>
        <% if current_user.blank? %>
          <div class="signup-form">
            <h2><%= t(".register_a_new_account") %></h2>

            <%= form_for(@user, url: user_registration_path, remote: true) do |f| %>
              <div class="field">
                <%= f.label :name %><br/>
                <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
              </div>

              <div class="field">
                <%= f.label :email %><br/>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
              
              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
              </br >
              <div class="actions">
                <%= f.submit t(".register") %>
              </div>

              <div class="center"><%= t(".already_have_an_account") %><span class="signin-click"> <%= t(".login_now") %></span> </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
